// main: ../style.less

.notes-list-form {
  display: flex;
  justify-content: space-around;
}

.icon-del {
  background: url(../../public/img/icons8-удалить-48.png) no-repeat top right;
  background-size: 100%;
  padding: 12px 12px;
  border: 0ch;
  cursor: pointer;
}

.line {
  display: flex;
  justify-content: space-around;
  width: 25rem;
  height: 2.5rem;
  border-bottom: 1px solid @orange;
  margin-top: 30px;
  color: #5f5c57;
  cursor: pointer;
}
